#menuContainer {
    text-align:center;
    position: relative;
    display: flex;
}

#sidebarElementList {
    margin: 0 auto;
    padding: 0;
}

#sectionSidebarWrapper {
    position: relative;
    width: 30%;
    max-width: 600px;
}

#sectionSidebar {
    font-family: 'Architects Daughter', cursive;
    position: sticky;
    top: 0;
    padding: 3rem;
}

.sidebarElement {
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 2rem;
    padding: 1rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
}

#sectionMenuDisplay {
    padding: 3rem;
    width: 70%;
}

#mobileMenuButtonWrapper {
    display: none;
}

.sectionMenuGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 12%;
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    transition: 0.25s all ease;
}

.sectionMenuGridElement {
    position: relative;
}

.menuItemTitle {
    font-family: 'Architects Daughter', cursive;
}

.menuItemPrice {
    font-family: 'Chango', cursive;
}

.sectionTitle {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    #mobileMenuButtonWrapper {
        z-index: 20;
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        height: 0;
        transition: 0.5s opacity ease;
    }
    .mobileMenuButton {
        position: relative;
        width:5rem;
        top: 1rem;
        left: 1rem;
        margin: 0;
        padding: 10px;
        border-radius: 10px;
        background: transparent;
    }
    .mobileMenuButton span {
        opacity: 0;
    }
    #sectionSidebarWrapper {
        z-index: 10;
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: blue;
        left: -100%;
        transition: 0.45s all ease;
    }
    #sectionSidebarWrapper.active {
        background: red;
        left: 0;
    }
    #sectionSidebar {
        width: 100%;
        padding: 0;
    }
    #sectionMenuDisplay {
        padding: 3rem;
        width: 100%;
    }
    .sectionMenuGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 12%;
        grid-auto-rows: minmax(100px, auto);
        overflow: hidden;
    }
}