.carouselSlider {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 45rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sliderButton {
    background-color: transparent;
    outline: none !important;
    border: none !important;
    position: absolute;
    top: 50%;
    width: 20%;
    height: 100%;
    transform: translateY(-50%) !important;
    transition: 0.3s;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.circleButtonList {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    background-color: black;
    padding: 0.2rem;
    border-radius: 15px;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}

.circleButton {
    background-color: transparent;
    outline: none !important;
    border: none !important;
    color: white;
    /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
    transition: 0.5s all;
}

#moveRightSliderButton {
    right: 0;
}

#moveLeftSliderButton {
    left: 0;
}

.sliderButton:hover {
    text-shadow: 0 0 20px white;
}