.carouselSlider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    display: flex;
}

.carouselShadowFrame {
    position: relative;
    box-shadow: inset 0 0 10rem 4rem black;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    color: white;
}

.carouselInfoContainer {
    position: relative;
    opacity: 1;
    top: 0;
    padding: 0;
    font-size: 2rem;
    left: 50%;
    margin: 0;
    width: 80%;
    height: 100%;
    transform: translateX(-50%)
}

.infoContainerTextField {
    transition:0.25, all ease;
    font-size: 2rem;
    font-family: 'Architects Daughter', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: all 0.25s ease;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
}

.infoContainerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 1rem 2rem;
    border:2px solid;
    border-radius:1rem;
    background:transparent;
    color:white;
    font-family: 'Architects Daughter', cursive;
    box-shadow:inset 0 0 5px 2px black, 0 0 5px 2px black; 
    text-shadow: 0 0 5px black;
}

.sliderButton {
    background-color: transparent;
    outline: none !important;
    border: none !important;
    position: absolute;
    top: 50%;
    z-index: 20;
    width: 10%;
    height: 100%;
    transform: translateY(-50%) !important;
    transition: 0.3s;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.circleButtonList {
    position: absolute;
    bottom: 0;
    z-index: 20;
    left: 50%;
    text-align: center;
    background: transparent;
    padding: 0.2rem;
    border-radius: 15px;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}

.circleButton {
    font-size: 0.5rem;
    background-color: transparent;
    outline: none !important;
    border: none !important;
    color: white;
    transition: 0.5s all;
    text-align: center;
}

.circleButton.active {
    color: grey;
    text-shadow: 0 0 0.3rem 1rem blue, 0 0 0.5rem 2rem black;
}

#moveRightSliderButton {
    right: 0;
}

#moveLeftSliderButton {
    left: 0;
}

.sliderButton:hover {
    text-shadow: 0 0 20px white;
}

@media screen and (max-width: 960px) {
    .carouselSlider {
        height: 400px;
    }
    .sliderButton {
        width: 20%;
        color: transparent;
        text-shadow: none;
    }
    .carouselShadowFrame {
        box-shadow: inset 0 0 2rem 1rem black;
    }
    .sliderButton:hover {
        text-shadow: none;
    }
    .infoContainerTextField {
        font-size:1.2rem;    
    }
}