
.cateringPageWrapper{
    color:#503309;
    position: relative;
    padding:2rem;
    margin:2rem 0;
    border: 25px solid #503309;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23503309' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%232c1b03'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.pageTitle{
    text-align: center;
    font-size:2rem;
    font-family: Chango;
}

.cateringLegend {
    text-align: center;
}

.cateringLegendWrapper {
    margin: 2rem 0;
}

#cateringForm {
    padding: 2rem 0;
    top:0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
}

.inputDiv {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 4rem;
    margin: 1rem 0;
}

.inputDiv label {
    font-size: large;
    cursor: pointer;
}

.inputDiv input {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 10px;
}

.textAreaDiv {
    grid-area: 3 / 1 /3 /3;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.textAreaDiv textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: 6rem;
    font-size: 1rem;
    resize: none;
    border-radius: 0.5rem;
    padding: 10px;
}

.submitButton{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    border-radius:1rem;
    padding:1rem 1.5rem;
    font-size:1rem;
    background:#503309;
    color:whitesmoke;
}
.textAreaDiv label {
    font-size: large;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    #cateringForm {
        grid-template-columns: repeat(1, 1fr);
    }
    .textAreaDiv {
        grid-area: 5;
        display: inline-block;
        width: 100%;
        position: relative;
        margin: 1rem 0;
    }
}