#menuContainer {
    text-align: center;
    position: relative;
    display: flex;
}

#sidebarElementList {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px whitesmoke;
    margin: 0 auto;
    padding: 1rem;
}

#sectionSidebarWrapper {
    color: whitesmoke;
    background: rgb(46, 42, 42);
    position: relative;
    width: 30%;
    max-width: 600px;
}

#sectionSidebar {
    font-family: 'Architects Daughter', cursive;
    position: sticky;
    top: 0;
    padding: 3rem;
}

.sidebarElement {
    border: solid 2px whitesmoke;
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 2rem;
    padding: 1rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
}

#sectionMenuDisplay {
    background-image: url('../public/images/86282.jpg');
    background-size: 100% 100%;
    padding: 3rem;
    width: 70%;
}

.sectionMenuElementWrapper {
    padding: 1rem;
    margin: 1rem 0;
}

#mobileMenuButtonWrapper {
    display: none;
}

.sectionMenuGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 5%;
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    transition: 0.25s all ease;
}

.sectionMenuGridElement {
    border: 25px solid #503309;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23503309' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%232c1b03'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    position: relative;
    margin: 1rem;
    padding:1rem;
    color: black;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

.menuItemTitle {
    font-size: 1.5rem;
    font-family: 'Architects Daughter', cursive;
    margin:0;
}

.menuItemPrice {
    font-family: 'Chango', cursive;
}

.sectionTitle {
    color: black;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
    text-align: center;
    font-family: 'Chango', cursive;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    #mobileMenuButtonWrapper {
        z-index: 20;
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        height: 0;
        transition: 0.5s opacity ease;
    }
    .mobileMenuButton {
        position: relative;
        width: 5rem;
        top: 1rem;
        left: 1rem;
        margin: 0;
        padding: 10px;
        border-radius: 10px;
        background: transparent;
    }
    .mobileMenuButton span {
        opacity: 0;
    }
    #sectionSidebarWrapper {
        z-index: 10;
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: whitesmoke;
        left: -100%;
        transition: 0.45s all ease;
    }
    #sectionSidebarWrapper.active {
        left: 0;
    }
    #sectionSidebar {
        width: 100%;
        padding: 0;
    }
    #sectionMenuDisplay {
        padding: 3rem;
        width: 100%;
    }
    .sectionMenuGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 12%;
        grid-auto-rows: minmax(100px, auto);
        overflow: hidden;
    }
}