.NavBarElements {
    position: relative;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    z-index: 50;
}

.NavBarElements a {
    color: #fff;
    text-decoration: none;
}

.companyLogo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    background-color: tomato;
    width: 10rem;
    height: 3.2rem;
    margin: 0;
}

.navBarLinkList {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.MobileMenuButton {
    color: white;
    width: 2rem;
    display: none;
}

.navBarLink {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navBarLink:hover {
    background-color: #6d78f7;
    border-radius: 4px;
}

.NavBarMobileButtons {
    display: none
}

@media screen and (max-width: 960px) {
    .navBarLinkList {
        padding: 0;
        display: table;
        width: 100%;
        height: 16rem;
        position: absolute;
        top: 4rem;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .navBarLinkList.active {
        background: #6668f4;
        left: 0;
        transition: all 0.5s ease;
        z-index: 30;
    }
    .navBarLink {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }
    .companyLogo {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .MobileMenuButton {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    /* Button {
        margin: 1rem 0;
    } */
}